.generic-content-container{
	
	/* nested element */
	p{
		line-height: 1.65; /* line-height doesn't require unit of measurement */
		margin: 1.8rem 0;

		@mixin atSmall{
			font-size: 1.125rem;
		}
	}

	p a {
		font-weight: 700; /* font 400 considred standard */
	}
}